{{ define "main" }}
<div class="row justify-content-center">
  <div class="col-md-12 col-lg-10 col-xl-8">
    <h1 class="text-center">{{ .Title }}</h1>
    {{ with .Params.summary -}}<p class="lead text-center">{{ . }}</p>{{ end -}}
    <div class="text-center">{{ .Content }}</div>

    <!-- Zoho Form Integration via iframe -->
    <iframe aria-label='Contact Us' frameborder="0" scrolling="no" style="height:900px;width:99%;border:none;overflow:hidden;" src='https://forms.zohopublic.com/vriksha1/form/ContactUs/formperma/hUQLNLFVEYPs-5-_yF19o-97e4XvUtE09zWLj_osMsA'></iframe>
  </div>
</div>
{{ end }}
